{% extends "base.html" %} {% block title %}Average Reviews{% endblock %} {% block content %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Golf Course Averge Reviews
        </title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
    <style>
        h1,h2, table {
            text-align: center;     
          } 
        .center {
            margin-left: auto;
            margin-right: auto;
        }
        h4{
            text-align: left;
        }
    </style>


        <h4>Manager: {{first_Name.first_Name}}</h4>
        <h4>Golf Course: {{first_Name.golf_Course}}</h4>
        <h1> Average Review Table </h1>
        <h2> Average: {{ avgReviews }}  out of 10 </h2> 
        <table id="review_Table" class="center table table-striped table-bordered" style="width:50%">
            <thead>
                <tr>
                    <th>Rating</th>
                    <th>Date Played</th>
                </tr>
            </thead>
            <tbody>
            {% for review in reviews %}
                {% if review.golf_Course == first_Name.golf_Course %}
                <tr>
                    <td>{{ review.rating}}</td> <!--need to figure out how to get these assending from best to worst -->
                    <td>{{ review.date}}</td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Rating</th>
                    <th>Date Played</th>
                </tr>
            </tfoot>
        </table>
        
    </body>
{% endblock %}