{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block content %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Golf Course Questions
        </title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <h1> Review Table </h1>
        <table id="review_Table" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Rating</th>
                    <th>Date Played</th>
                    <th>Gender</th>
                    <th>Visits</th>
                    <th>Type of Golfballs</th>
                    <th>Type of Clubs</th>
                </tr>
            </thead>
            <tbody>
        {% for review in reviews %}<!-- this is reciving the info from auth.py and going through a loop for each row -->
                <tr>                
                    <td>{{ review.user_Email}}</td>
                    <td>{{ review.rating}}</td>
                    <td>{{ review.date}}</td>
                    <td>{{ review.gender}}</td>
                    <td>{{ review.visits}}</td>
                    <td>{{ review.type_Golfball}}</td>
                    <td>{{ review.club_Brand}}</td>
                </tr>
        {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Email</th>
                    <th>Rating</th>
                    <th>Date Played</th>
                    <th>Gender</th>
                    <th>Visits</th>
                    <th>Type of Golfballs</th>
                    <th>Type of Clubs</th>
                </tr>
            </tfoot>
        </table>
    </body>

{% endblock %}